*{
  margin : 0px;
  padding: 0px;
  outline: none;
  box-sizing: content-box;
}

body{
  background-color:#33383e;
  font-family: sans-serif;
}
.header{
  background-color:#33383e;
  width: 100%;
  height: 100vh;
}

.flex{
  width: 100%;
  background-color:#33383e;
  display: flex;
  justify-content:space-around;
  align-items: center;
  z-index: 999;
}
.Logo{
  color: rgb(31, 31, 31);
  padding: 20px 0px;
  z-index: 999;
 
}
.ul{
  list-style: none;
  display: flex;
  z-index: 999;
}
.li{
  margin: 0px 30px;
  z-index: 999;
}
.a{
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-weight: 540;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  z-index: 999;
  }

.image{
  width: 650px;
  height: 590px;
  background:url("./photo/girl.jpg");
  background-size: cover;
  border-radius: 0% 60% 32% 88% / 9% 69% 47% 61% ;
}

.flex-box{
  display: flex;
  align-items: center;
  grid-gap: 60px;
}

.name {
  color: white;
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 3px;
}
.para{
  font-size: 17px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #02e1cf;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  font-family: 'Roboto', sans-serif;
}
.img-box{
  margin-top: -68px;
  z-index: 9;
}
.graph{
  max-width: 560px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(165, 165, 165);
  font-family: 'Roboto', sans-serif;
}
.btn{
  width: 120px;
  height: 35px;
  border: none;
  background-color: transparent;
  border: 1.8px solid rgb(75, 75, 75);
  color: rgb(255, 255, 255);
  border-radius: 50px;
  cursor: pointer;
}

.social > i {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-right: 30px;
  cursor: pointer;
}
i{
   display: flex;
   border: 1.8px solid rgb(75, 75, 75);
  width: 50px;
  height: 50px;
  border-radius: 50px;
  color: white;
}
#fbs{
  background-color:#02e1cf;
}

.flex-vector{
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(199, 199, 199);
  margin-top: 50px;
}

.copy{
  z-index: 2;
}
.im{
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 1;
}